body {
  padding: 1rem;
  border: 1px solid black;
}

.buttons {
  background-color: black;
  padding: 8px;
  border-radius: 8px;
  height: 260px;
}

.empty {
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 7px;
}

.bot {
  width: 56%;
  background-color: #bebcbc;
  border: none;
  padding: 0.5px;
  height: 30px;
  border-radius: 8px;
  color: #fff;
}

.hot,
.rem,
.see,
.got {
  height: 30px;
  background-color: #bebcbc;
  border: none;
  width: 48.6px;
  margin: 1px;
  border-radius: 5px;
  color: #fff;
  margin-top: 6px;
}

.why,
.where,
.which,
.who,
.nine,
.one,
.two,
.ex,
.we,
.are,
.get {
  height: 30px;
  background-color: #bebcbc;
  border: none;
  width: 58px;
  margin: 1px;
  border-radius: 5px;
  color: #fff;
  margin-top: 6px;
}
