body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9e3dd;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #2b2a2a;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #444242;
}

button:active {
  background-color: #5b5858;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#calculator{
  font-family: Arial, sans-serif;
  background-color: black;
  border-radius: 15px;
  max-width: 450px;
  overflow: hidden;
}

#display {
  width: 95%;
  padding: 20px;
  font-size: 3rem;
  text-align: right;
  border: none;
  background-color: #2b2a2a;
  color: #fff;
}

.operator-btn {
  background-color: rgb(233, 168, 48);
}

.operator-btn:hover {
  background-color: #ecb754;
}

.operator-btn:active {
  background-color: #f5d18e;
}
